@model LogicaNegocio.Entidades.Pais

@{
    ViewData["Title"] = "AltaPaís";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Alta País</h2>

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @ViewBag.Error
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @ViewBag.Mensaje
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Nombre" class="form-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CantHabitantes" class="form-label"></label>
                    <input asp-for="CantHabitantes" class="form-control" />
                    <span asp-validation-for="CantHabitantes" class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <div class="btn btn-sm mt-3">
                        <input type="submit" value="Alta País" class="btn btn-success btn-md" asp-action="Create" />
                    </div>
                    <div class="btn btn-sm mt-3">
                        <input type="submit" value="Volver" class="btn btn-secondary btn-md" asp-action="Index" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>