@{
    Layout = "_Layout";
    ViewData["Title"] = "Página de Error";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">Error</h1>
            <p class="fs-3"> <span class="text-danger">¡Ups!</span> Error en la solicitud HTTP.</p>
            <p class="lead">
                La página que estás buscando no existe.
            </p>
            <a href="~/Home/Index" class="btn btn-primary">Ir a Inicio</a>
        </div>
    </div>
</body>
</html>